<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Gallery Images</h1>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"></div><!-- /.panel-heading -->
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#gallery-images" data-toggle="tab">Current</a>
          </li>
          <li class><a href="#add-gallery-images" data-toggle="tab">Add More</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="gallery-images">
            <% @gallery_images.each do |g_img| %>
              <br>
              <% form_for g_img, "/admin/gallery_image/#{g_img.id}", method: :put, :html => {:multipart => true} do |f| %>
                <%= image_tag(g_img.image, width: '200px') if g_img.image? %>
                <%= f.file_field :image %>
                <%= f.hidden_field :image_cache %>
                <%= f.submit %>
              <% end %>
              <%= button_to 'Delete', url("/admin/gallery_image/#{g_img.id}"), :method => :delete %>
              <br>
            <% end %>
          </div><!-- /#gallery-photos -->
          <div class="tab-pane fade" id="add-gallery-images">
            <% form_for @gallery_image, '/admin/gallery_images' do |f| %>
              <%= image_tag(@gallery_image.image, width: '100px') if @gallery_image.image? %>
              <%= f.label :image %>
              <%= f.file_field :image %>
              <%= f.hidden_field :image_cache %>
              <%= f.submit %>
            <% end %>
          </div><!-- /#menu-photos -->
        </div><!-- /.tab-content -->
      </div><!-- /.panel-body -->
    </div><!-- /.panel -->
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
