<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Hannah's Dad | Catering | Admin</title>

    <%= css :admin %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.1.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tab.min.js' %>
    <%= js :admin %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" style=
      "margin-bottom: 0">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse"
          data-toggle="collapse" type="button">
            <span class="sr-only">Toggle
          navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Admin</a>
        </div><!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <%= link_to "Back to site", "/" %>
          </li>
          <li>
            <%= link_to "Logout", "/logout", method: :delete %>
          </li>
        </ul><!-- /.navbar-top-links -->
        <div class="navbar-default sidebar">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a class="active" href="/admin">Basic Info</a>
              </li>

              <li>
                <a href="/admin/categories">Categories</a>
              </li>
              <li>
                <a href="/admin/menu_items">Menu Items</a>
              </li>
              <li>
                <a href="/admin/gallery_images">Gallery Images</a>
              </li>
              <li>
                <a href="/admin/testimonials">Testimonials</a>
              </li>
            </ul>
          </div><!-- /.sidebar-collapse -->
        </div><!-- /.navbar-static-side -->
      </nav>
      <div id="page-wrapper">
        <%= flash[:notice] %>
        <%= content_for?(:main_table) ? yield_content(:main_table) : yield %>
      </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
  </body>
</html>
