<div class="row">
  <div class="col-lg-12">
    <h1>Site Info </h1>
    <% form_for @site, '/admin/site_info/1', method: :put do |f| %>

    <%= f.error_messages %>

    <%= f.label :header_description %>
    <%= f.text_field :header_description %>

    <%= f.label :services_byline %>
    <%= f.text_field :services_byline %>

    <%= f.label :event_description %>
    <%= f.text_field :event_description %>

    <%= f.label :home_description %>
    <%= f.text_field :home_description %>

    <%= f.label :office_description %>
    <%= f.text_field :office_description %>

    <%= f.label :about_name %>
    <%= f.text_field :about_name %>

    <%= f.label :about_byline %>
    <%= f.text_field :about_byline %>

    <%= f.label :about_description %>
    <%= f.text_field :about_description %>

    <%= f.label :contact_byline %>
    <%= f.text_field :contact_byline %>

    <%= f.submit %>

    <% end %>
  </div>
</div>
