<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Basic Site Info</h1>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"></div><!-- /.panel-heading -->
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#site-info" data-toggle="tab">Site Info</a>
          </li>
          <li class><a href="#site-photos" data-toggle="tab">Site Photos</a>
          </li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane fade in active" id="site-info">
            <% form_for @site, '/admin/site_info/1', method: :put do |f| %>

              <%= f.error_messages %>

              <%= f.label :header_description %>
              <%= f.text_field :header_description %>

              <%= f.label :services_byline %>
              <%= f.text_field :services_byline %>

              <%= f.label :event_description %>
              <%= f.text_field :event_description %>

              <%= f.label :home_description %>
              <%= f.text_field :home_description %>

              <%= f.label :office_description %>
              <%= f.text_field :office_description %>

              <%= f.label :about_name %>
              <%= f.text_field :about_name %>

              <%= f.label :about_byline %>
              <%= f.text_field :about_byline %>

              <%= f.label :about_description %>
              <%= f.text_field :about_description %>

              <%= f.label :contact_byline %>
              <%= f.text_field :contact_byline %>

              <%= f.submit %>

            <% end %>
          </div><!-- /#site-info -->

          <div class="tab-pane fade" id="site-photos">
            <% form_for @site, '/admin/site_info/1', method: :put do |f| %>

            <%= f.error_messages %>

            <%= f.label :header_img %>
            <%= f.text_field :header_img %>

            <%= f.label :about_img %>
            <%= f.text_field :about_img %>

            <%= f.label :contact_img %>
            <%= f.text_field :contact_img %>

            <%= f.label :menu_bg_img %>
            <%= f.text_field :menu_bg_img %>

            <%= f.submit %>

            <% end %>
          </div><!-- /#site-photos -->

        </div><!-- /.tab-content -->
      </div><!-- /.panel-body -->
    </div><!-- /.panel -->
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
