<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Elegance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <%= css :demo2 %>
  <%= js :demo2 %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body id="page-top">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                anousheh catering
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li><%= link_to "Services", "#services", class: 'page-scroll' %></li>
                  <li><%= link_to "Gallery", "#gallery", class: 'page-scroll' %></li>
                  <li><%= link_to "Menu", "#menu", class: 'page-scroll' %></li>
                  <li><%= link_to "About", "#about", class: 'page-scroll' %></li>
                  <li><%= link_to "Testimonials", "#testimonials", class: 'page-scroll' %></li>
                  <li><%= link_to "Contact Us/Quote", "#contact", class: 'page-scroll' %></li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <script charset="utf-8">
    /**
 * cbpAnimatedHeader.js v1.0.0
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * Copyright 2013, Codrops
 * http://www.codrops.com
 */
var cbpAnimatedHeader = (function() {

	var docElem = document.documentElement,
		header = document.querySelector( '.navbar-default' ),
		didScroll = false,
		changeHeaderOn = 150;

	function init() {
		window.addEventListener( 'scroll', function( event ) {
			if( !didScroll ) {
				didScroll = true;
				setTimeout( scrollPage, 250 );
			}
		}, false );
	}

	function scrollPage() {
		var sy = scrollY();
		if ( sy >= changeHeaderOn ) {
			classie.add( header, 'navbar-shrink' );
		}
		else {
			classie.remove( header, 'navbar-shrink' );
		}
		didScroll = false;
	}

	function scrollY() {
		return window.pageYOffset || docElem.scrollTop;
	}

	init();

  })();

  </script>

  <script charset="utf-8">
    /*!
 * Start Bootstrap - Agnecy Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Highlight the top nav as scrolling occurs
$('body').scrollspy({
    target: '.navbar-fixed-top'
})

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});
  </script>
  <!--///////////////////////////////////////////////////////
       //  Slider section
       //////////////////////////////////////////////////////////-->


  <div class="slidersection">
    <div class="sp-slideshow">
      <div class="sp-content">
          <div class="sp-parallax-bg"></div>
        </div>
      </div><!-- sp-slideshow -->
  </div>


<!--///////////////////////////////////////////////////////
       // End slider section
       //////////////////////////////////////////////////////////-->



<!--///////////////////////////////////////////////////////
       // About section
       //////////////////////////////////////////////////////////-->


  <div class="about-parlex">
    <section class="parlex7-back">
      <div class="w-container">
        <div id="about-animation">
        <div class="wrap">
          <div class="about">
            <h2 class="about-heading">FRESH - ORGANIC - GOURMET - HANDCRAFTED</h2>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>


<!--///////////////////////////////////////////////////////
       // End about section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Service section
       //////////////////////////////////////////////////////////-->


  <section class="service-parlex" id="services">
    <section class="parlex-back">
      <div class="w-container">
        <div class="wrap">
          <div class="service-combo">
            <div class="services">
              <h1 class="service-heading">SERVICES</h1>
              <div class="sepreater service"></div>
            </div>
            <div class="w-row">
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                   <a href="#set-1" class="fa fa-glass"></a>
                </div>
                <h4 class="our-process-sys">Parties</h4>
                <p class="process-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                  cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </div>
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                  <a href="#set-1" class="fa fa-home"></a>
                </div>
                <h4 class="our-process-sys">At Home</h4>
                <p class="process-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                  cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </div>
              <div class="w-col w-col-4">
                <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                  <a href="#set-1" class="fa fa-building-o"></a>
                </div>
                <h4 class="our-process-sys">Office</h4>
                <p class="process-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                  cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

<!--///////////////////////////////////////////////////////
       // End Service section
       //////////////////////////////////////////////////////////-->


<!--///////////////////////////////////////////////////////
       // Process section
       //////////////////////////////////////////////////////////-->

  <div class="process-parlex" id="gallery">
    <div class="parlex2-back">
      <div class="w-row" style="height: 450px">
        <% @categories.each do |c| %>
          <div class="photo" style="height:222px;background-image:url('/images/food<%= c.id %>.jpg')">
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!--///////////////////////////////////////////////////////
       // End Process section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Porfolio section
       //////////////////////////////////////////////////////////-->

  <div class="portfolio-parlex" id="menu">
    <div class="parlex3-back">
      <div class="w-container">
        <div class="wrap">
          <div class="portfolio">
            <h1 class="portfolio-heading">MENU</h1>
            <div class="sepreater"></div>
          </div>
          <div class="container demo-1">
            <% @categories.each do |c| %>
            <div id="category-container" class="w-col w-col-3">
              <img class="category-photo" src="images/food<%= c.id %>.jpg">
              <h2><%= c.name %> </h2>
              <hr>
                <% c.menu_items.each do |m_i| %>
                <h5 class="menu_item_title"><%= m_i.title %></h5>
                <br>
                <em><%= m_i.description %></em>
                <% end %>
              </div>
              <% end %>
            </div>
          </div><!-- /container -->
        </div>
      </div>
    </div>
  </div>

<!--///////////////////////////////////////////////////////
       // End Porfolio section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Our-plan section
       //////////////////////////////////////////////////////////-->

  <div class="our-plan-parlex" id="about">
    <div class="parlex4-back">
      <div class="w-container">
        <div class="wrap">
          <div class="our-plans">
            <h1 class="ourplan-heading">About</h1>
          </div>
          <div class="sepreater"></div>
          <div class="w-col w-col-12">
                <img class="team-img" src="images/team/image2.png" alt="52dd1edfe64ce6cb200004fb_image2.png">
              <div class="team-des">
                <h4 class="team-name">Hannah's Dad</h4>
                <div class="team-name-des">Chef
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nihil, in commodi aspernatur! Explicabo quia nesciunt aliquam aspernatur, pariatur. Perspiciatis nobis hic aperiam, accusamus corrupti molestiae veniam obcaecati reprehenderit iure!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nihil, in commodi aspernatur! Explicabo quia nesciunt aliquam aspernatur, pariatur. Perspiciatis nobis hic aperiam, accusamus corrupti molestiae veniam obcaecati reprehenderit iure!</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--///////////////////////////////////////////////////////
       // End Our-Plan section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Team section
       //////////////////////////////////////////////////////////-->

<style>
.testimonial {
  background-color: rgb(124, 61, 61);
  padding: 11px;
  margin: 2px;
}
</style>
  <div class="team-parlex" id="testimonials">
    <div class="parlex5-back">
      <div class="w-container">
        <div class="wrap">
          <div class="team">
            <h1 class="team" style="margin-top: -53px;">TESTIMONIALS</h1>
            <div class="sepreater team-sep" style="margin-bottom: 40px;"></div>
            <% @testimonials.each do |t| %>
              <div class="col-lg-4 col-md-4 testimonial">
                <blockquote>
                  <p>"<%= t.comment %>"</p>
                  <%= t.name %> <span class="text-muted"><em>hired me for </em></span>  <%= t.event %>
                </blockquote>
              </div>
            <% end %>
            <div id="submit-testimonial">
              <a href="/new_testimonial" class="btn btn-xl">Submit a Testimonial</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--///////////////////////////////////////////////////////
       // End Team section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Contact section
       //////////////////////////////////////////////////////////-->

  <div class="contact-parlex" id="contact">
    <div class="parlex8-back">
      <div class="w-container">
        <div class="wrap">
          <div class="contact-div">
            <h1 class="contact-heading">CONTACT</h1>
            <div class="sepreater"></div>
          </div>
          <p class="contact-para">Thanks for taking the time to contact us!
            <br>We do our best to respond to quickly, it could take us 1-2 business days to get back to you. Feel free to say hello!</p>
          <div class="w-form">
            <form action="contact.php" method="post">
            <label for="name">Name:</label>
             <input class="w-input" type="text" placeholder="Enter your name" name="cf_name">
           <label for="email">Email Address:</label>
             <input class="w-input" placeholder="Enter your email address" type="text" name="cf_email" required="required">
           <label for="email">Your Message:</label>
             <textarea class="w-input message" placeholder="Enter your Message Here" name="cf_message"></textarea><br>
           <input class="w-button" type="submit" value="Send">
         </form>
          <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--///////////////////////////////////////////////////////
       // End Contact section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Footer section
       //////////////////////////////////////////////////////////-->

  <div class="footer-parlex">
    <div class="parlex9-back">
      <div class="w-container">
        <div class="wrap">
          <div>
            <div class="fotter-text">
              <p class="copyright-area">Copyright &copy; gedhe pangan catering 2014</p>
              <p class="fotter-quote">Site design by <a href="http://www.trinitymontoya.com/">Trinity Montoya</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

       <!--///////////////////////////////////////////////////////
       // End Footer section
       //////////////////////////////////////////////////////////-->

  <!-- // <script type="text/javascript" src="js/jquery.js"></script>
  // <script type="text/javascript" src="js/normal.js"></script>
  // <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  // <script type="text/javascript" src="js/carousels.js"></script>
  // <script type="text/javascript" src="js/slider-modernizr.js"></script>
  // <script src="js/classie.js"></script>
  // <script src="js/portfolio-effects.js"></script>
  // <script src="js/toucheffects.js"></script>
  // <script src="js/modernizr.js"></script>
  // <script src="js/animation.js"></script> -->

</body>
</html>
