<html>
<head>
  <meta charset="UTF-8">
  <title> Hannah's Dad | Catering | Main</title>
  <%= stylesheet_link_tag 'style'%>
  <%= javascript_include_tag 'app'%>
</head>
<body>
  <div class="logo">CATERING</div>
  <nav>
    <%= link_to "Demo", "/demo" %>
    <%= link_to "Home", "/" %>
    <%= link_to "Menu", "/menu" %>
    <%= link_to "Gallery", "/gallery" %>
    <%= link_to "Contact Us/Quote", "/contact" %>
    <%= link_to "About", "/about" %>
    <%= link_to "Testimonials", "/testimonials" %>
    <%= link_to "Login", "/login" %>
  </nav>
  <%= flash[:notice] %>
  <%= yield %>

</body>
</html>
